<div class="footer text-quaternary">
    <div class="logo">
        {{ json_text.title }}
    </div>
    <div class="social-icons-container">
        <a href=""><i class="far fa-envelope social-icon"></i></a>
        <a href=""><i class="fab fa-twitter social-icon"></i></a>
        <a href=""><i class="fab fa-linkedin-in social-icon"></i></a>
        <a href=""><i class="fab fa-instagram social-icon"></i></a>
        <a href=""><i class="fab fa-github social-icon"></i></a>
        <a href=""><i class="fab fa-whatsapp social-icon"></i></a>
    </div>
    <span class="copyright"> {{ json_text.text }} </span>
</div>