
<div class="scroll-content text-secondary">
    <div class="section section-1">
        <h1 class="text-secondary"> {{ json_text.section_1.title_1 }} </h1>
        <p class="text-secondary"> {{ json_text.section_1.fixed_text }}  
            <span class="dos {{!hidden_text?'hidden':'show'}}"> 
                {{ json_text.section_1.hidden_text }} 
            </span> 
        </p>
        <span class="uno underline  {{hidden_text?'hidden':'show'}}" (click)="hidden_text = !hidden_text"> {{ json_text.section_1.continue }}  </span> 
        <span class="tres underline {{!hidden_text?'hidden':'show'}}" (click)="hidden_text = !hidden_text"> {{ json_text.section_1.hide }} </span>
        <div class="group-personal-dates {{hidden_text?'hidden':'show'}}">
            <div class="personal-dates">
                <h2>
                    {{ json_text.section_1.group_dates.personal_dates.title }} 
                </h2>
                <div class="info">
                    <p *ngFor="let info of json_text.section_1.group_dates.personal_dates.info" class="one"> {{ info.name }} <span [class]="info.class"> {{ info.value }} </span></p>
                </div>
            </div>
            <div class="my-interestin">
                <h2>
                    {{ json_text.section_1.group_dates.interestin.title }} 
                </h2>
                <div class="card-icons">
                    <div *ngFor="let card of json_text.section_1.group_dates.interestin.cards" class="card-icon">
                        <i [class]="card.icon"></i>
                        <span> {{ card.text }} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-2 text-secondary">
        <h2>{{json_text.section_2.title}}</h2>
        <div class="cards">
            <div *ngFor="let card of json_text.section_2.cards" class="card">
                <i [class]="card.icon"></i>
                <p> {{ card.text }} </p>
            </div>
        </div>
    </div>
    <div class="section section-3 text-secondary">
        <h2> {{ json_text.section_3.title }} </h2>
        <div class="cards-image">
            <div *ngFor="let card of json_text.section_3.projects">
                <a *ngIf="card.type == 'work'" [href]="card.link" target="_blank" class="card-image">
                    <img src="{{card.img}}" alt="">
                    <p class="text-secondary"> {{ card.text }} </p>    
                </a>
                <a *ngIf="card.type == 'mine'" [routerLink]="card.link" class="card-image">
                    <img src="{{card.img}}" alt="">
                    <p class="text-secondary"> {{ card.text }} </p>    
                </a>
            </div>
        </div>
        <button [routerLink]="json_text.section_3.button.link " class="btn-hover btn-shadown-purple"> {{ json_text.section_3.button.text }} </button>
    </div>
    <div class="section section_4">
        <div class="footer text-quaternary">
            <div class="logo">
                {{ json_text.section_4.title }}
            </div>
            <div class="social-icons-container">
                <a href="#" target="_blank"><i class="far fa-envelope social-icon"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter social-icon"></i></a>
                <a href="#" target="_blank"><i class="fab fa-linkedin-in social-icon"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram social-icon"></i></a>
                <a href="#" target="_blank"><i class="fab fa-github social-icon"></i></a>
                <a href="#" target="_blank"><i class="fab fa-whatsapp social-icon"></i></a>
            </div>
            <span class="copyright"> {{ json_text.section_4.text }} </span>
        </div>
    </div>
</div>